{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <div class="d-flex justify-content-between">
            <h2 class="mx-0 my-3">Информация о курсе</h2>
            <button class="btn btn-primary my-auto" type="submit" form="finalgrade">Сохранить оценки</button>
            <form action="/courses/{{ course.id }}/download" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-auto">Экспорт оценок</button>
            </form>
        </div>
        <div class="d-flex justify-content-between">
            <h3>Курс: {{ course.name }}</h3>
            <h3>Преподаватель: {{ course.teacher_name }}</h3>
        </div>
        <form method="POST" id="finalgrade" action="/courses/{{ course.id }}/save">
            {% csrf_token %}
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">ФИО студента</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Итоговая оценка</th>
                <th scope="col">Максимальная оценка</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/courses/{{ course.id }}/users/{{ user.id }}">{{ user.name }}</a></td>
                    <td>{{ user.get_last_access }}</td>
                    <td>
                        {% if user.end_grade_id %}
                            <input value="{{ user.get_end_grade }}" name="{{ user.end_grade_id }}" form="finalgrade"/>
                        {% else %}
                            {{ user.get_end_grade }}
                        {% endif %}
                    </td>
                    <td>{{ user.get_end_grade_max }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
