{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Информация о курсе</h1>
        <div class="d-flex justify-content-between">
            <h3>Курс: Курс1</h3>
            <h3>Преподаватель: ФИО</h3>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО студента</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Средняя оценка</th>
                <th scope="col">Количество действий</th>
                <th scope="col">Время использования</th>
                <th scope="col">Количество выполненных заданий</th>
                <th scope="col">Коэфициент вовлеченности от времени</th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="document.location = '';">
                <td><a href="user_info.html">Иванов</a></td>
                <td>11.05.2020</td>
                <td>60/100</td>
                <td>80</td>
                <td>5 ч</td>
                <td>15/30</td>
                <td>55%</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
