{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Информация о курсе</h1>
        <div class="d-flex justify-content-between">
            <h3>Курс: {{ course.name }}</h3>
            <h3>Преподаватель: {{ course.teacher_name }}</h3>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО студента</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Итоговая оценка</th>
                {#                <th scope="col">Просмотры</th>#}
                {#                <th scope="col">Затраченное время</th>#}
                {#                <th scope="col">Выполнено элементов</th>#}
                {#                <th scope="col">Коэфициент вовлеченности</th>#}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="/courses/{{ course.id }}/users/{{ user.id }}">{{ user.name }}</a></td>
                    <td>{{ user.get_last_access }}</td>
                    <td>{{ user.end_grade }}</td>
                    {#                <td>80</td>#}
                    {#                <td>5 ч</td>#}
                    {#                <td>15/30</td>#}
                    {#                <td>55%</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
