{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Итоговые рузельтаты</h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Группа</th>
                <th scope="col">Количество участников</th>
                <th scope="col">Успеваемость</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Группа 1</td>
                <td>10</td>
                <td>70/100</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}