{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <div class="d-flex justify-content-between">
            <h2 class="mx-0 my-3">Итоговая успеваемость группы {{ group.name }}</h2>
            <button type="button" class="btn btn-primary my-auto">Экспорт оценок</button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">ФИО/Курс</th>
                {#                <th scope="col">Курс 1</th>#}
                {#                <th scope="col">Курс 2</th>#}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.name }}</td>
                    {#                    <td>20</td>#}
                    {#                    <td>70</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}