{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Список курсов в системе</h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Преподаватель</th>
                <th scope="col">Количество участников</th>
                <th scope="col">Средняя оценка</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Всего входов на курс</th>
                <th scope="col">Общее время использования</th>
                <th scope="col">Коэфициент вовлечения</th>
                <th scope="col">Количество модулей</th>
                <th scope="col">Количество просмотров</th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="document.location = 'courseInfo.html';">
                <td><a href="#">Курс 1</a></td>
                <td>ФИО 1</td>
                <td>30</td>
                <td>70/100</td>
                <td>30.04.2020</td>
                <td>130</td>
                <td>22 ч</td>
                <td>1,84</td>
                <td>30</td>
                <td>240</td>
            </tr>
            <tr onclick="document.location = '/courseInfo/2';">
                <td>Курс 2</td>
                <td>ФИО 1</td>
                <td>40</td>
                <td>55/100</td>
                <td>10.05.2020</td>
                <td>220</td>
                <td>35 ч</td>
                <td>6,04</td>
                <td>20</td>
                <td>1330</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}