{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div" style="width: 800px; height: 500px;"></div>
        <h2 class="mx-0 my-3">Список курсов в системе</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">Курс</th>
                <th scope="col">Преподаватель</th>
                <th scope="col">Количество участников</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Средний балл</th>
                <th scope="col">Просмотры</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/courses/{{ course.id }}">{{ course.name }}</a></td>
                    <td>{{ course.teacher_name }}</td>
                    <td>{{ course.count_user }}</td>
                    <td>{{ course.get_last_access }}</td>
                    <td>{{ course.get_avg_final_grade }}</td>
                    <td>{{ course.count_views }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Курс', 'Просмотры'],
                {% for cours in courses %}
                    ['{{ cours.name }}', {{ cours.count_views }}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: 'Статистика по курсам',
                    subtitle: 'Просмотры по курсам',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('chart_div'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
{% endblock %}