{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Список курсов в системе</h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Курс</th>
                <th scope="col">Преподаватель</th>
                <th scope="col">Количество участников</th>
                <th scope="col">Средний балл</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Входы на курс</th>
                <th scope="col">Время использования</th>
                <th scope="col">Просмотры</th>
                <th scope="col">Коэфициент использования</th>
            </tr>
            </thead>
            <tbody>
{#            <tr onclick="document.location = '/courses/1';">#}
{#                <td><a href="#">Курс 1</a></td>#}
{#                <td>ФИО 1</td>#}
{#                <td>30</td>#}
{#                <td>70/100</td>#}
{#                <td>30.04.2020</td>#}
{#                <td>130</td>#}
{#                <td>22 ч</td>#}
{#                <td>240</td>#}
{#                <td>1,84</td>#}
{#            </tr>#}
            {% for course in courses %}
                <tr onclick="document.location = '/courses/{{ course.id }}';">
                    <td><a href="#">{{ course.name }}</a></td>
                    <td>{{ course.teacher_name }}</td>
                    <td>{{ course.count_user }}</td>
                    <td>{{ course.avg }}</td>
                    <td>{{ course.last_time }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}