{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <div class="d-flex justify-content-between">
            <h2 class="mx-0 my-3">Результаты</h2>
            <button class="btn btn-primary my-auto" type="submit" form="grade">Сохранить оценки</button>
            <button type="button" class="btn btn-primary my-auto">Экспорт оценок</button>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <h3>Студент: {{ user.name }}</h3>
            <h3>Курс: {{ course.name }}</h3>
        </div>
        <form method="POST" id="grade" action="/save"></form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">Элемент</th>
                <th scope="col">Тип</th>
                <th scope="col">Оценка</th>
                {#                <th scope="col">Дата выполнения</th>#}
                {#                <th scope="col">Оценил</th>#}
                {#                <th scope="col">Количество попыток</th>#}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.get_type }}</td>
                    <td><input value="{{ item.get_grade }}" name="{{ user.id }}" form="grade" /></td>
                    {#                    <td>03.03.2020</td>#}
                    {#                    <td>система</td>#}
                    {#                    <td>1</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4>Итоговая {{ end_grade.get_grade }}</h4>
    </div>
{% endblock %}