{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div" style="width: 900px; height: 500px"></div>
        <div class="d-flex justify-content-between">
            <h2 class="mx-0 my-3">Результаты</h2>
            {% if can_update %}
                <button class="btn btn-primary my-auto" type="submit" form="grade">Сохранить оценки</button>
            {% endif %}
            <form action="/courses/{{ course.id }}/users/{{ user.id }}/download" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-auto">Экспорт оценок</button>
            </form>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <h3>Студент: <a href="/users/{{ user.id }}">{{ user.name }}</a></h3>
            <h3>Курс: {{ course.name }}</h3>
        </div>
        <form method="POST" id="grade" action="/courses/{{ course.id }}/users/{{ user.id }}/save">
            {% csrf_token %}
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">Элемент</th>
                <th scope="col">Тип</th>
                <th scope="col">Оценка</th>
                <th scope="col">Максимальная оценка</th>
                <th scope="col">Оценил</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.get_type }}</td>
                    <td>
                        {% if can_update %}
                            <input value="{{ item.get_grade }}" name="{{ item.grade_id }}" form="grade"/>
                        {% else %}
                            {{ item.get_grade }}
                        {% endif %}
                    </td>
                    <td>{{ item.get_grade_max }}</td>
                    <td>{{ item.get_user_modified }}</td>
                    <td>{{ item.get_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4>Итоговая {{ end_grade.get_grade }}/{{ end_grade.grade_max }}</h4>
    </div>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Элемент', 'Результат'],
                {% for item in items %}
                    ['{{ item.name }}', {{ item.get_stat_grade }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Результаты студента',
                legend: {position: 'bottom'}
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}