{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h2 class="mx-0 my-3">{{ user.name }}</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th scope="col">Курс</th>
                <th scope="col">Роль</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Итоговая оценка</th>
                <th scope="col">Просмотры</th>
                <th scope="col">Сделано</th>
                <th scope="col">Коэффициент</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/courses/{{ course.id }}/users/{{ user_id }}">{{ course.name }}</a></td>
                    <td>{{ course.role }}</td>
                    <td>{{ course.get_last_access }}</td>
                    <td>{{ course.get_final_grade }}</td>
                    <td>{{ course.get_count_views }}</td>
                    <td>{{ course.get_count_done }}</td>
                    <td>{{ course.get_done_coef }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}