{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Список участников системы</h1>
        <form class="form-inline" action="">
            <div class="form-group mr-sm-3 mb-2">
                <input type="text" name="name" class="form-control" id="search">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Поиск</button>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                {#                <th scope="col">Последний доступ</th>#}
                {#                <th scope="col">Количество курсов</th>#}
                {#                <th scope="col">Входы в систему</th>#}
                {#                <th scope="col">Затраченное время</th>#}
                {#                <th scope="col">Просмотры</th>#}
                {#                <th scope="col">Среднее время работы</th>#}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="/users/{{ user.id }}">{{ user.name }}</a></td>
{#                    <td>11.05.2020</td>#}
                    {#                    <td>3</td>#}
                    {#                    <td>20</td>#}
                    {#                    <td>9 ч</td>#}
                    {#                    <td>110</td>#}
                    {#                    <td>27 мин</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}