{% extends "wrapper.html" %}

{% block content %}
    <div class="container">
        <div id="chart_div"></div>
        <h1 class="mx-0 my-3">Список участников системы</h1>
        <form class="form-inline" action="">
            <div class="form-group mr-sm-3 mb-2">
                <input type="text" class="form-control" id="search">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Поиск</button>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Последний доступ</th>
                <th scope="col">Количество курсов</th>
                <th scope="col">Средняя оценка</th>
                <th scope="col">Входов на платформу</th>
                <th scope="col">Общее время использования</th>
                <th scope="col">Количество действий</th>
                <th scope="col">Время/вход</th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="document.location = '';">
                <td><a href="/users/1">Иванов</a></td>
                <td>11.05.2020</td>
                <td>3</td>
                <td>60/100</td>
                <td>20</td>
                <td>9 ч</td>
                <td>110</td>
                <td>27 мин</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}